<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Buttons</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            <ul>
                <li>
                    <div class = "section-name">
                        <img src = "../img/icons/dropdown.png" alt = "style icon"/>Стили 
                    </div>
                    <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li>
                <li>Навигация</li>
                <li>Компоненты</li>
            </ul>
        </div>
        <main>
            <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                <h1>Кнопки</h1> <!-- Заголовок 1 -->
                <p>Основной призыв к действию. В современном интернете размылась разница между кнопкой для отправки формы 
                    или завершения другого действия и выделенной ссылкой, поэтому кнопки используются в этих двух ролях.</p> <!-- Описание компонента -->
                <img src = "../img/button-cover.png" alt = "button cover image"/> <!-- Тут поменять картинку-обложку -->
                <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=101%3A1403&t=sSN9yY85wIUhrsJA-1">Компонент в Figma</a> <!-- Тут поменять ссылку-->
            </section> <!-- Конец блока h1 из фигмы -->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Состояния</h2>
                <img src = "../img/navi-anatomy.png" alt = "anatomy of navigation block"/>
                <ol> <!-- Подпись под картинкой - нумерованный список --> 
                    <li>Иконка слева</li> <!-- Первый элемент -->
                    <li>Иконка справа</li> <!-- Первый элемент -->
                    <li>Текст</li>
                </ol>
                <h3>Title</h3> <!-- Начало блока h3 (если не нужно -- удалить) -->
                <p>Description</p> <!-- description блока h3 (если не нужно -- удалить )-->
                <h4>Стандартные отступы</h4> <!-- Начало блока h4 стандартные отступы (если не нужно -- удалить) -->
                <img src = "../img/margins.png" alt = "" class = "margins"/> <!-- Сюда вставить картинку с отступами -->
                <ol> <!-- Подпись под картинкой - нумерованный список --> 
                    <li>Иконка слева</li> <!-- Первый элемент -->
                    <li>Иконка справа</li> <!-- Первый элемент -->
                    <li>Текст</li>
                </ol> <!-- Описание под картинкой -->
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->
        </main>

    </body>
</html>