<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Чекбокс</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            <ul>
                <li>
                    <div class = "section-name">
                        <img src = "../img/icons/dropdown.png" alt = "style icon"/>Стили 
                    </div>
                    <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li>
                <li><div class = "section-name">
                    <img src = "../img/icons/dropdown.png" alt = "style icon"/>Навигация 
                </div>
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li></li>
                <li><div class = "section-name">
                    <img src = "../img/icons/dropdown.png" alt = "style icon"/>Компоненты 
                </div>
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li></li>
            </ul>
        </div> 
        <main>
            
            <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                <h1>Чекбоксы</h1> <!-- Заголовок 1 -->
                <p class = "description">Мы используем чекбоксы, чтобы предоставить пользователям возможность выбрать или отменить выбор нескольких значений из списка параметров (например, элементы на страницах списка) или выбрать или отменить выбор одного параметра (например, параметры на страницах конфигурации).</p> <!-- Описание компонента -->
                <img src = "../img/checkbox-cover.png" alt = "checkbox cover image"/> <!-- Тут поменять картинку-обложку -->
                <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=101%3A1686&t=WhiLnjdz4rAiV94M-1">Компонент в Figma</a> <!-- Тут поменять ссылку-->
            </section> <!-- Конец блока h1 из фигмы -->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Анатомия</h2>
                <img src = "../img/checkbox-anatomy.png" alt = "anatomy of checkboxes"/>
                <ol> <!-- Подпись под картинкой - нумерованный список --> 
                    <li>Чекбокс</li> <!-- Первый элемент -->
                    <li>Текст чекбокса</li> <!-- Первый элемент -->
                </ol>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Состояния</h2>
                <img src = "../img/checkbox-states.png" alt = "stets of checkboxes"/>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Спецификация</h2>
                <img src = "../img/checkbox-specs.png" alt = "specification of checkboxes"/> <!-- картинка-->
                <ol> <!-- Подпись под картинкой - нумерованный список --> 
                    <li>body/black-700</li> <!-- Первый элемент -->
                    <li>body/orange-600</li> <!-- Второй элемент -->
                </ol>
                <h4>Стандартные отступы</h4> <!-- Начало блока h4 стандартные отступы (если не нужно -- удалить) -->
                <img src = "../img/margins.png" alt = "" style = "width: 760px"/> <!-- Сюда вставить картинку с отступами -->
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->
        </main>

    </body>
</html>