<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Чипсы</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            <ul>
                <li>
                    <div class = "section-name">
                        <img src = "../img/icons/dropdown.png" alt = "style icon"/>Стили 
                    </div>
                    <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li>
                <li><div class = "section-name">
                    <img src = "../img/icons/dropdown.png" alt = "style icon"/>Навигация 
                </div>
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li></li>
                <li><div class = "section-name">
                    <img src = "../img/icons/dropdown.png" alt = "style icon"/>Компоненты 
                </div>
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li></li>
            </ul>
        </div>
        <main>
            
            <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                <h1>Чипсы</h1> <!-- Заголовок 1 -->
                <p class = "description">Чипсы помогают людям вводить информацию, делать выбор, фильтровать контент или запускать действия.</p> <!-- Описание компонента -->
                <img src = "../img/chips-cover.png" alt = "cover of chips page"/> <!-- Тут поменять картинку-обложку -->
                <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=134%3A706&t=WhiLnjdz4rAiV94M-1">Компонент в Figma</a> <!-- Тут поменять ссылку-->
            </section> <!-- Конец блока h1 из фигмы -->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Анатомия</h2>
                <img src = "../img/chips-anatomy.png" alt = "anatomy of chips"/> <!-- картинка-->
                <ol> <!-- Подпись под картинкой - нумерованный список --> 
                    <li>Иконка слева (необязательно)</li> <!-- Первый элемент -->
                    <li>Текст метки</li> <!-- Второй элемент -->
                    <li>Иконка справа (необязательно)</li> 
                </ol>
                <h3>Названия чипсов</h3> <!-- Начало блока h3 (если не нужно -- удалить) -->
                <p>Текст метки чипса должен содержать не более 20 символов и иметь тот же стиль оформления, что и кнопки. ‍</p> <!-- description блока h3 (если не нужно -- удалить )-->
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Состония</h2>
                <img src = "../img/chips-states.png" alt = "states of chips"/> <!-- картинка-->
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Спецификация</h2>
                <img src = "../img/chips-specs.png" alt = "specification of chips"/> <!-- картинка-->
                <ol> <!-- Подпись под картинкой - нумерованный список --> 
                    <li>body/primary-600</li> <!-- Первый элемент -->
                    <li>body/primary-600</li> <!-- Второй элемент -->
                    <li>body/natural-900</li>
                </ol>
                <h4>Стандартные отступы</h4> <!-- Начало блока h4 стандартные отступы (если не нужно -- удалить) -->
                <img src = "../img/margins.png" alt = "" style = "width: 760px"/> <!-- Сюда вставить картинку с отступами -->
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->
        </main>

    </body>
</html>