<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Цвета</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <button type = "button" class = "logotype-btn" id = "main-btn">
                <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            </button>
           
            <button type = "button" class = "dropdown-button">Стили 
            <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                
            <div class = "dropdown-container" style = "display: block;">
                <a href = "colors.html" class = "active">Цвета</a>
                <a href = "typography.html">Типографика</a>
                <a href = "icons.html">Иконки </a>
                <a href = "grids.html">Сетка и отступы</a>
            </div>

            <button type = "button" class = "dropdown-button">Навигация
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>

            <div class = "dropdown-container">
                <a href = "navigation.html">Навигационные элементы</a>
                <a href = "search.html">Поиск</a>
                <a href = "tabbar.html">Табы</a>
            </div>

            <button type = "button" class = "dropdown-button">
                Компоненты 
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                    
            <div class = "dropdown-container">
                <a href = "buttons.html">Кнопки</a>
                <a href = "chips.html">Чипсы</a>
                <a href = "checkbox.html">Чекбоксы </a> 
                <a href = "tumblers.html"> Тумблеры </a>
                <a href = "radiobuttons.html">Радио-кнопки</a>
                <a href = "text_inputs.html">Тектовые поля ввода</a>
                <a href = "graphs.html">Графики</a>
                <a href = "widgets.html">Виджеты </a>
                <a href = "progress.html">Прогрессбар</a> 
                <a href = "banners.html">Баннеры </a> 
                <a href = "snackbars.html">Снэкбары </a> 
                <a href = "modal.html">Модальные окна</a> 
                <a href = "dialog.html">Диалоговые окна</a>
            </div>
        </div>
        <div class = "container">
            <div class = "block"></div>
            <main>
                
                <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                    <h1>Дизайн система «Smart home»</h1> <!-- Заголовок 1 -->
                    <p  class = "description">С помощью цвета дизайнеры создают структуру, управляют акцентами, предупреждают о важных действиях и кодируют контент. Чтобы палитра была идентична во всех продуктах, мы используем дизайн-токены.</p> <!-- Описание компонента -->
                    <img src = "../img/colors-cover.png" alt = "cover image of colors page"/> <!-- Тут поменять картинку-обложку -->
                    <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=101%3A1412&t=rj5OfLEVR6kXd1lV-1" target="_blank">Компонент в Figma</a> <!-- Тут поменять ссылку-->
                </section> <!-- Конец блока h1 из фигмы -->

            
                <section>
                    <h2>Оттенки серого</h2>
                    <div class = "color-palette">
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--natural-50); border-radius: 15px 0 0 0;">
                                <h3>50</h3>
                                <p>#F5F5F5</p>
                            </div>
                            <div class = "color" style = "background-color: var(--natural-100);">
                                <h3>100</h3>
                                <p>#EDEDED</p>
                            </div>
                            <div class = "color" style = "background-color: var(--natural-200);">
                                <h3>200</h3>
                                <p>#DFE1E6</p>
                            </div>
                            <div class = "color" style = "background-color: var(--natural-300);">
                                <h3>300</h3>
                                <p>#CBCED6</p>
                            </div>
                            <div class = "color" style = "background-color: var(--natural-400); border-radius: 0 15px 0 0;">
                                <h3>400</h3>
                                <p> #ABB3BE</p>
                            </div>
                        </div>
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--natural-500); border-radius: 0 0 0 15px;">
                                <h3 style = "color: var(--white);">500</h3>
                                <p style = "color: var(--white);">#8692A1</p>
                            </div>
                            <div class = "color" style = "background-color: var(--natural-600);">
                                <h3 style = "color: var(--white);">600</h3>
                                <p style = "color: var(--white)">#687686</p>
                            </div>
                            <div class = "color" style = "background-color: var(--natural-700);">
                                <h3 style = "color: var(--white);">700</h3>
                                <p style = "color: var(--white)">#3E4D5F</p>
                            </div>
                            <div class = "color" style = "background-color: var(--natural-800);">
                                <h3 style = "color: var(--white);">800</h3>
                                <p style = "color: var(--white)">#252D3A</p>
                            </div>
                            <div class = "color" style = "background-color: var(--natural-900); border-radius: 0 0 15px 0;">
                                <h3 style = "color: var(--white);">900</h3>
                                <p style = "color: var(--white)"> #1D2733</p>
                            </div>
                    </div>


                </section>

                <section>
                    <h2>Оттенки желтого</h2>
                    <div class = "color-palette">
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--primary-50); border-radius: 15px 0 0 0;">
                                <h3>50</h3>
                                <p>#FFFDE7</p>
                            </div>
                            <div class = "color" style = "background-color: var(--primary-100);">
                                <h3>100</h3>
                                <p>#FFF9C4</p>
                            </div>
                            <div class = "color" style = "background-color: var(--primary-200);">
                                <h3>200</h3>
                                <p>#FFF59D</p>
                            </div>
                            <div class = "color" style = "background-color: var(--primary-300);">
                                <h3>300</h3>
                                <p>#FFF176</p>
                            </div>
                            <div class = "color" style = "background-color: var(--primary-400); border-radius: 0 15px 0 0;">
                                <h3>400</h3>
                                <p> #FFEE58</p>
                            </div>
                        </div>
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--primary-500); border-radius: 0 0 0 15px;">
                                <h3>500</h3>
                                <p>#FFEB3B</p>
                            </div>
                            <div class = "color" style = "background-color: var(--primary-600);">
                                <h3>600</h3>
                                <p>#FDD835</p>
                            </div>
                            <div class = "color" style = "background-color: var(--primary-700);">
                                <h3>700</h3>
                                <p>#FBC02D</p>
                            </div>
                            <div class = "color" style = "background-color: var(--primary-800);">
                                <h3>800</h3>
                                <p>#F9A825</p>
                            </div>
                            <div class = "color" style = "background-color: var(--primary-900); border-radius: 0 0 15px 0;">
                                <h3>900</h3>
                                <p> #F57F17</p>
                            </div>
                    </div>


                </section>

                <section>
                    <h2>Вспомогательные цвета</h2>
                    <div class = "color-palette" style = "margin-bottom: 24px;">
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--blue-100); border-radius: 15px 0 0 15px;">
                                <h3>100</h3>
                                <p>#E6F7FF</p>
                            </div>
                            <div class = "color" style = "background-color: var(--blue-300);">
                                <h3>300</h3>
                                <p>#91D5FF</p>
                            </div>
                            <div class = "color" style = "background-color: var(--blue-600); border-radius: 0 15px 15px 0;">
                                <h3>600</h3>
                                <p>#1890FF</p>
                            </div>
                        </div>
                    </div>

                    <div class = "color-palette"  style = "margin-bottom: 24px;">
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--magenta-100); border-radius: 15px 0 0 15px;">
                                <h3>100</h3>
                                <p>#FBF0FF</p>
                            </div>
                            <div class = "color" style = "background-color: var(--magenta-300);">
                                <h3>300</h3>
                                <p>#EAADFF</p>
                            </div>
                            <div class = "color" style = "background-color: var(--magenta-600); border-radius: 0 15px 15px 0;">
                                <h3>600</h3>
                                <p>#D12FEB</p>
                            </div>
                        </div>
                    </div>

                    <div class = "color-palette" style = "margin-bottom: 24px;">
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--green-100); border-radius: 15px 0 0 15px;">
                                <h3>100</h3>
                                <p>#F6FFED</p>
                            </div>
                            <div class = "color" style = "background-color: var(--green-300);">
                                <h3>300</h3>
                                <p>#B7EB8F</p>
                            </div>
                            <div class = "color" style = "background-color: var(--green-600); border-radius: 0 15px 15px 0;">
                                <h3>600</h3>
                                <p>#52C41A</p>
                            </div>
                        </div>
                    </div>

                    <div class = "color-palette" style = "margin-bottom: 24px;">
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--red-100); border-radius: 15px 0 0 15px;">
                                <h3>100</h3>
                                <p>#FFF1F0</p>
                            </div>
                            <div class = "color" style = "background-color: var(--red-300);">
                                <h3>300</h3>
                                <p>#FFA39E</p>
                            </div>
                            <div class = "color" style = "background-color: var(--red-600); border-radius: 0 15px 15px 0;">
                                <h3>600</h3>
                                <p>#F5222D</p>
                            </div>
                        </div>
                    </div>

                    <div class = "color-palette" style = "margin-bottom: 24px;">
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--orange-100); border-radius: 15px 0 0 15px;">
                                <h3>100</h3>
                                <p>#FFF2E8</p>
                            </div>
                            <div class = "color" style = "background-color: var(--orange-300);">
                                <h3>300</h3>
                                <p>#FFBB96</p>
                            </div>
                            <div class = "color" style = "background-color: var(--orange-600); border-radius: 0 15px 15px 0;">
                                <h3>600</h3>
                                <p>#FA541C</p>
                            </div>
                        </div>
                    </div>

                    <div class = "color-palette" style = "margin-bottom: 24px;">
                        <div class = "row1">
                            <div class = "color" style = "background-color: var(--cyan-100); border-radius: 15px 0 0 15px;">
                                <h3>100</h3>
                                <p>#E6FFFB</p>
                            </div>
                            <div class = "color" style = "background-color: var(--cyan-300);">
                                <h3>300</h3>
                                <p>#87E8DE</p>
                            </div>
                            <div class = "color" style = "background-color: var(--cyan-600); border-radius: 0 15px 15px 0;">
                                <h3>600</h3>
                                <p>#13C2C2</p>
                            </div>
                        </div>
                    </div>

                </section>
                
            </main>
        </div>
        <script src = "../script.js"></script>
    </body>
</html>