<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Диалоговые окна</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <button type = "button" class = "logotype-btn">
                <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            </button>
           
            <button type = "button" class = "dropdown-button">Стили 
            <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                
            <div class = "dropdown-container">
                <a href = "#">Цвета</a>
                <a href = "typography.html">Типографика</a>
                <a href = "icons.html">Иконки </a>
                <a href = "grids.html">Сетка и отступы</a>
            </div>

            <button type = "button" class = "dropdown-button">Навигация
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                   

            <div class = "dropdown-container">
                <a href = "navigation.html">Навигационные элементы</a>
                <a href = "#">Поиск</a>
                <a href = "tabbar.html">Табы</a>
            </div>

            <button type = "button" class = "dropdown-button">
                Компоненты 
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                    
            <div class = "dropdown-container">
                <a href = "buttons.html">Кнопки</a>
                <a href = "chips.html">Чипсы</a>
                <a href = "checkbox.html">Чекбоксы </a> 
                <a href = "tumblers.html"> Тумблеры </a>
                <a href = "radiobuttons.html">Радио-кнопки</a>
                <a href = "text_inputs.html">Тектовые поля ввода</a>
                <a href = "graphs.html">Графики</a>
                <a href = "widgets.html">Виджеты </a>
                <a href = "progress.html">Прогрессбар</a> 
                <a href = "banners.html">Баннеры </a> 
                <a href = "snackbars.html">Снэкбары </a> 
                <a href = "modal.html">Модальные окна</a> 
                <a href = "dialog.html" class = "active">Диалоговые окна</a>
            </div>
        </div>

        <main>
            
            <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                <h1>Диалоговые окна</h1> <!-- Заголовок 1 -->
                <p  class = "description">Диалоговое окно — это дополнительное окно, которое позволяет пользователям выполнять команду, задавать вопрос пользователям или предоставить пользователям информацию или отзывы о ходе выполнения.</p> <!-- Описание компонента -->
                <img src = "../img/dialog-cover.png" alt = "cover image of dialogue windows page"/> <!-- Тут поменять картинку-обложку -->
                <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=136%3A2483&t=D32LgzAFVQryRXzH-1">Компонент в Figma</a> <!-- Тут поменять ссылку-->
            </section> <!-- Конец блока h1 из фигмы -->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Анатомия</h2>
                <img src = "../img/dialog-anatomy.png" alt = "anatomy of dialogue window"/> <!-- картинка-->
                <ol> <!-- Подпись под картинкой - нумерованный список --> 
                    <li>Заголовок диалогового окна</li> <!-- Первый элемент -->
                    <li>Основной текст диалогового окна</li> <!-- Второй элемент -->
                    <li>Кнопка диалогового окна</li>
                    <li>Кнопка “закрыть диалоговое окно”</li>
                </ol>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Состония</h2>
                <img src = "../img/dialog-states.png" alt = "states of dialogue window"/> <!-- картинка-->
                <p>Диалоговые окна в данной дизайн системе могут иметь 2 состояния: 
                    по умолчанию и активное.</p>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Спецификация</h2>
                <img src = "../img/dialog-specs.png" alt = "specification of dialogue window"/> <!-- картинка-->
                <ol> <!-- Подпись под картинкой - нумерованный список --> 
                    <li>body/natural-800</li> <!-- Первый элемент -->
                    <li>body/natural-100</li> <!-- Первый элемент -->
                    <li>body/primary-600</li>
                    <li>body/natural-600</li>
                </ol> <!-- Описание под картинкой -->
                <h4>Стандартные отступы</h4> <!-- Начало блока h4 стандартные отступы (если не нужно -- удалить) -->
                <img src = "../img/margins.png" alt = "" class = "margins" style = "width: 760px"/> <!-- Сюда вставить картинку с отступами -->
                
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            
        </main>
        <script src = "../script.js"></script>
    </body>
</html>