<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Графики</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <button type = "button" class = "logotype-btn" id = "main-btn">
                <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            </button>
           
            <button type = "button" class = "dropdown-button">Стили 
            <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                
            <div class = "dropdown-container">
                <a href = "colors.html">Цвета</a>
                <a href = "typography.html">Типографика</a>
                <a href = "icons.html">Иконки </a>
                <a href = "grids.html">Сетка и отступы</a>
            </div>

            <button type = "button" class = "dropdown-button">Навигация
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                   

            <div class = "dropdown-container">
                <a href = "navigation.html">Навигационные элементы</a>
                <a href = "search.html">Поиск</a>
                <a href = "tabbar.html">Табы</a>
            </div>

            <button type = "button" class = "dropdown-button">
                Компоненты 
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                    
            <div class = "dropdown-container" style="display: block;">
                <a href = "buttons.html">Кнопки</a>
                <a href = "chips.html">Чипсы</a>
                <a href = "checkbox.html">Чекбоксы </a> 
                <a href = "tumblers.html"> Тумблеры </a>
                <a href = "radiobuttons.html">Радио-кнопки</a>
                <a href = "text_inputs.html">Тектовые поля ввода</a>
                <a href = "graphs.html" class = "active">Графики</a>
                <a href = "widgets.html">Виджеты </a>
                <a href = "progress.html">Прогрессбар</a> 
                <a href = "banners.html">Баннеры </a> 
                <a href = "snackbars.html">Снэкбары </a> 
                <a href = "modal.html">Модальные окна</a> 
                <a href = "dialog.html">Диалоговые окна</a>
            </div>
        </div>

        <div class = "container">
            <div class = "block"></div>

            <main>
                
                <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                    <h1>Графики</h1> <!-- Заголовок 1 -->
                    <p  class = "description">Графики наглядно отображают информацию об изменениях какого-либо показателя в динамике.</p> <!-- Описание компонента -->
                    <img src = "../img/graphs-cover.png" alt = "cover image of graphs page"/> <!-- Тут поменять картинку-обложку -->
                    <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=117%3A433&t=D32LgzAFVQryRXzH-1" target="_blank">Компонент в Figma</a> <!-- Тут поменять ссылку-->
                </section> <!-- Конец блока h1 из фигмы -->

                <section> <!-- Начало блока h2 из фигмы -->
                    <h2>Гистограммы</h2>
                    <img src = "../img/graphs-histograms.png" alt = "bar charts"/> <!-- картинка-->
                    <p>Гистограммы полезны для представления изменений данных с течением времени и для наглядного сравнения различных величин. В гистограммах категории обычно располагаются по горизонтальной оси, а значения — по вертикальной.</p>
                </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

                <section> <!-- Начало блока h2 из фигмы -->
                    <h2>Круговые диаграммы</h2>
                    <img src = "../img/graphs-pie-charts.png" alt = "pie charts"/> <!-- картинка-->
                    <p>Круговые диаграммы обычно используются для сравнения групп. Круговые и кольцевые диаграммы, наряду с пирамидальными и воронкообразными диаграммами, относятся к группе так называемых фигурных диаграмм.</p>
                </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->
                
                <section> <!-- Начало блока h2 из фигмы -->
                    <h2>Графики</h2>
                    <img src = "../img/graphs-pie-charts.png" alt = "pie charts"/> <!-- картинка-->
                    <p>Диаграмма применяется для определения степени, с которой две числовые переменные влияют друг на друга. По оси х откладывается независимая переменная, а по оси y – зависимая переменная. Такая диаграмма может ответить на такие вопросы о ваших данных: какое отношение между переменными?</p>
                </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->
                
            </main>
        </div>
        <script src = "../script.js"></script>
    </body>
</html>