<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Сетка и отступы</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            <ul>
                <li>
                    <div class = "section-name">
                        <img src = "../img/icons/dropdown.png" alt = "style icon"/>Стили 
                    </div>
                    <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li>
                <li><div class = "section-name">
                    <img src = "../img/icons/dropdown.png" alt = "style icon"/>Навигация 
                </div>
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li></li>
                <li><div class = "section-name">
                    <img src = "../img/icons/dropdown.png" alt = "style icon"/>Компоненты 
                </div>
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li></li>
            </ul>
        </div>
        <main>
            
            <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                <h1>Сетка и отступы</h1> <!-- Заголовок 1 -->
                <p>Система отступов и размеров элементов построена вокруг базового значения поля (4px) и должна использоваться при создании автомакетов Figma. Значения интервалов и размеров должны быть кратны базовому значению (4px).</p> <!-- Описание компонента -->
                <p>Лейаут должен быть:</p>
                <ul>
                    <li>консистентным между продуктами,</li>
                    <li>предсказуемым,</li>
                    <li>адаптивным.</li>

                </ul>
                <img src = "../img/grids-cover.png" alt = "cover image og grids page"/> <!-- Тут поменять картинку-обложку -->
            </section> <!-- Конец блока h1 из фигмы -->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Консистентность</h2>
                <p>Мы используем одинаковую структуру интерфейса внутри разрабатываемого сервиса.</p>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Размеры элементов</h2>
                <p>Размеры элементов по вертикали и горизонтали должны быть кратны 4px. Минимальный размер элемента -- 32 x 32 px. </p>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Система отступов</h2>
                <p>Отступы до и после элементов также кратны 4px.</p>
                <img src = "../img/grids-margins.png" alt = "" style = "width: 340px;"/> <!-- картинка-->
                <h3>Рекомендуемые отступы до и после заголовков</h3> <!-- Начало блока h3 (если не нужно -- удалить) -->
                <p>В рамках дизайн-системы мы разработали рекомендуемые интервалы до и после заголовков. </p> <!-- description блока h3 (если не нужно -- удалить )-->
                <img src = "../img/grids-margins-headers.png" alt = "margins of headers"/> <!-- Сюда вставить картинку с отступами -->
        
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->



            
        </main>

    </body>
</html>