<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Иконки</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <button type = "button" class = "logotype-btn" id = "main-btn">
                <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            </button>
           
            <button type = "button" class = "dropdown-button">Стили 
            <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                
            <div class = "dropdown-container">
                <a href = "#">Цвета</a>
                <a href = "typography.html">Типографика</a>
                <a href = "icons.html" class = "active">Иконки </a>
                <a href = "grids.html">Сетка и отступы</a>
            </div>

            <button type = "button" class = "dropdown-button">Навигация
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                   

            <div class = "dropdown-container">
                <a href = "navigation.html">Навигационные элементы</a>
                <a href = "search.html">Поиск</a>
                <a href = "tabbar.html">Табы</a>
            </div>

            <button type = "button" class = "dropdown-button">
                Компоненты 
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                    
            <div class = "dropdown-container">
                <a href = "buttons.html">Кнопки</a>
                <a href = "chips.html">Чипсы</a>
                <a href = "checkbox.html">Чекбоксы </a> 
                <a href = "tumblers.html"> Тумблеры </a>
                <a href = "radiobuttons.html">Радио-кнопки</a>
                <a href = "text_inputs.html">Тектовые поля ввода</a>
                <a href = "graphs.html">Графики</a>
                <a href = "widgets.html">Виджеты </a>
                <a href = "progress.html">Прогрессбар</a> 
                <a href = "banners.html">Баннеры </a> 
                <a href = "snackbars.html">Снэкбары </a> 
                <a href = "modal.html">Модальные окна</a> 
                <a href = "dialog.html">Диалоговые окна</a>
            </div>
        </div>

        <main>
            
            <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                <h1>Иконки</h1> <!-- Заголовок 1 -->
                <p  class = "description">Иконки используются для обозначения действий, состояния элемента и даже для классификации данных. Все значки, созданные и добавленные в систему, должны быть понятными, интуитивно понятными и последовательными. Их следует использовать экономно и в соответствии с их первоначальным назначением.
                </p> <!-- Описание компонента -->
                <img src = "../img/icons-cover.png" alt = "cover image of icons page"/> <!-- Тут поменять картинку-обложку -->
                <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=101%3A1492&t=WhiLnjdz4rAiV94M-1" target="_blank">Компонент в Figma</a> <!-- Тут поменять ссылку-->
            </section> <!-- Конец блока h1 из фигмы -->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Набор иконок</h2>
                <img src = "../img/icons.png" alt = "all icons"/> <!-- картинка-->
                <p>В дизайн-системе используются оригинальны иконки, созданные дизайнерами. Но в некоторых случаях могут использоваться иконки из Material Design</p>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Добавление иконок в набор системы</h2>
                <p>Шаги, которые необходимо выполнить:</p>
                <ol>
                    <li>UX-дизайнер проверяет текущий системный набор, чтобы увидеть, можно ли использовать существующий значок.
                    </li>
                    <li>Если в системе нет подходящего значка, UX-дизайнер может изучить новый значок, который будет использоваться на концептуальном этапе.
                    </li>
                    <li>UX-дизайнер работает с командой дизайнерских систем во время этого процесса, чтобы убедиться, что новая иконка соответствует установленным рекомендациям по дизайну.
                    </li>
                    <li>Как только новый дизайн значка будет одобрен и готов к разработке, иконка добавляется в набор</li>
                </ol>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Стили</h2>
                <img src = "../img/icons-styles1.png" alt = "styles of icons"/> <!-- картинка-->
                <img src = "../img/icons-styles2.png" alt = "styles of icons"/> <!-- картинка-->
                <h3>Размеры иконок</h3> <!-- Начало блока h3 (если не нужно -- удалить) -->
                <p>Рекомендуется использовать размер иконок 48х48px. </p> <!-- description блока h3 (если не нужно -- удалить )-->
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            
        </main>
        <script src = "../script.js"></script>
    </body>
</html>