<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Navigation</title>
    </head>
    <body>
        <section class = "first-section">
            <h1>Навигация</h1>
            <p>Панели навигации предлагают постоянный и удобный способ переключения между основными пунктами назначения в приложении. Она всегда доступна пользователю.</p>
            <img src = "../img/button-cover.png" alt = "button cover image"/>
            <a href = "">Компонент в Figma</a>
        </section>

        <section>
            <h2>Анатомия</h2>
            <img src = "../img/navi-anatomy.png" alt = "anatomy of navigation block"/>
            <ol>
                <li>Раздел</li>
                <li>Выбранный раздел</li>
            </ol>
            <h3>Названия разделов</h3>
            <p>Названия вкладок состоят из 1 существительного, которое кратко описывает тему контента, на который они ссылаются. Названия начинаются с заглавной буквы без знаков препинания.

                Максимальная длина слова: 10 букв.</p>
            
        </section>

        <section>
            <h2>Состояния</h2>
            <img src = "../img/navi-anatomy.png" alt = "anatomy of navigation block"/>
            <ol>
                <li>Раздел</li>
                <li>Выбранный раздел</li>
            </ol>
            
            <h4>Стандартные отступы</h4>
            <img src = "../img/margins.png" alt = "" class = "margins"/>
                <p>aaaaaaaaa</p>
        </section>
    </body>
</html>