<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Прогресс-бар</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <button type = "button" class = "logotype-btn" id = "main-btn">
                <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            </button>
           
            <button type = "button" class = "dropdown-button">Стили 
            <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                
            <div class = "dropdown-container">
                <a href = "colors.html">Цвета</a>
                <a href = "typography.html">Типографика</a>
                <a href = "icons.html">Иконки </a>
                <a href = "grids.html">Сетка и отступы</a>
            </div>

            <button type = "button" class = "dropdown-button">Навигация
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>

            <div class = "dropdown-container">
                <a href = "navigation.html">Навигационные элементы</a>
                <a href = "search.html">Поиск</a>
                <a href = "tabbar.html">Табы</a>
            </div>

            <button type = "button" class = "dropdown-button">
                Компоненты 
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/>
            </button>
                    
            <div class = "dropdown-container" style="display: block;">
                <a href = "buttons.html">Кнопки</a>
                <a href = "chips.html">Чипсы</a>
                <a href = "checkbox.html">Чекбоксы </a> 
                <a href = "tumblers.html"> Тумблеры </a>
                <a href = "radiobuttons.html">Радио-кнопки</a>
                <a href = "text_inputs.html">Тектовые поля ввода</a>
                <a href = "graphs.html">Графики</a>
                <a href = "widgets.html">Виджеты </a>
                <a href = "progress.html" class = "active">Прогрессбар</a> 
                <a href = "banners.html">Баннеры </a> 
                <a href = "snackbars.html">Снэкбары </a> 
                <a href = "modal.html">Модальные окна</a> 
                <a href = "dialog.html">Диалоговые окна</a>
            </div>
        </div>
        <div class = "container">
            <div class = "block"></div>
            <main>
                
                <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                    <h1>Прогресс-бар</h1> <!-- Заголовок 1 -->
                    <p  class = "description">Прогресс-бар (идикатор выполнения) визуально отображают ход загрузки системы, например загрузку файла или загрузку страницы, а также прогресс пользователя, например заполнение формы.</p> <!-- Описание компонента -->
                    <img src = "../img/progress-cover.png" alt = "cover of progress bar"/> <!-- Тут поменять картинку-обложку -->
                    <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=132%3A804&t=WhiLnjdz4rAiV94M-1" target="_blank">Компонент в Figma</a> <!-- Тут поменять ссылку-->
                </section> <!-- Конец блока h1 из фигмы -->

                <section> <!-- Начало блока h2 из фигмы -->
                    <h2>Анатомия</h2>
                    <img src = "../img/progress-anatomy.png" alt = "anatomy of progress bar"/> <!-- картинка-->
                    <ol> <!-- Подпись под картинкой - нумерованный список --> 
                        <li>Прогресс</li> <!-- Первый элемент -->
                        <li>Фон прогресса</li> <!-- Второй элемент -->
                        <li>Текст прогрессбара </li> 
                    </ol>
                    
                </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

                <section> <!-- Начало блока h2 из фигмы -->
                    <h2>Состония</h2>
                    <img src = "../img/progress-states.png" alt = "states of progress bar"/> <!-- картинка-->
                </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

                <section> <!-- Начало блока h2 из фигмы -->
                    <h2>Спецификация</h2>
                    <img src = "../img/progress-specs.png" alt = "specification of progress bar"/> <!-- картинка-->
                    <ol> <!-- Подпись под картинкой - нумерованный список --> 
                        <li>body/primary-600</li> <!-- Первый элемент -->
                        <li>body/natural-900</li> <!-- Второй элемент -->
                        <li>body/natural-100</li>
                        <li>body/white</li>
                    </ol>
                    
                </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->
            </main>
        </div>
        <script src = "../script.js"></script>
    </body>
</html>