<!DOCTYPE html>
<html lang = "ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../styles.css">
        <title>Типографика</title> <!-- Тут меняем название страницы (показывается во вкладке в браузере) -->
    </head>
    <body>
        <div class = "navigation-block">
            <img src = "../img/logo.png" alt = "logotype" class = "logotype"/>
            <ul>
                <li>
                    <div class = "section-name">
                        <img src = "../img/icons/dropdown.png" alt = "style icon"/>Стили 
                    </div>
                    <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li>
                <li><div class = "section-name">
                    <img src = "../img/icons/dropdown.png" alt = "style icon"/>Навигация 
                </div>
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li></li>
                <li><div class = "section-name">
                    <img src = "../img/icons/dropdown.png" alt = "style icon"/>Компоненты 
                </div>
                <img src = "../img/icons/dropdown.png" alt = "dropdown button"/></li></li>
            </ul>
        </div>
        <main>
            
            <section class = "first-section">  <!-- Начало блока h1 из фигмы -->
                <h1>Типографика</h1> <!-- Заголовок 1 -->
                <p  class = "description">Как шрифт, созданный специально для пользовательских интерфейсов, Inter обеспечивает оптимальную читаемость при небольших размерах и вариативную настройку шрифта в Интернете — и все это без потери индивидуальности.</p> <!-- Описание компонента -->
                <img src = "../img/typography-cover.png" alt = "cover image of typography page"/> <!-- Тут поменять картинку-обложку -->
                <a href = "https://www.figma.com/file/mK8EmSqG0TfqE2VLKAnOEs/Smart-home?node-id=101%3A1413&t=D32LgzAFVQryRXzH-1">Компонент в Figma</a> <!-- Тут поменять ссылку-->
            </section> <!-- Конец блока h1 из фигмы -->

            <section> <!-- Начало блока h2 из фигмы -->
                <h2>Стили</h2>
                <img src = "../img/typography-styles.png" alt = "styles of text"/> <!-- картинка-->
                <p>Четкая иерархия типов является ключевым компонентом в создании четкой информационной архитектуры. Четкая иерархия обеспечивает быстрое понимание и повышает эффективность взаимодействия пользователя с приложением.
                    Модульная шкала — это методология, которая устанавливает логическую последовательность размеров шрифтов в интерфейсе. Мы выбрали большую секундную шкалу (1,125) , чтобы обеспечить иерархический контраст и оптимальную читаемость, не занимая слишком много места в приложении.
                    </p>
            </section> <!-- Конец блока h2, НЕ УДАЛЯТЬ!-->

            
        </main>

    </body>
</html>